{% extends 'sounds.html'%}
{% block content %}
{% load static %}
{% if messages %}


{% endif %}
<div class="partition">
    <div class="message-box">
        <ul class="messages">
            {% for message in messages %}
            <li class="red"><em> - {{ message }}</em></li>
            {% endfor %}
        </ul>
</div>
    <p class="bold"><a href="/sounds/{{sound.id}}/details">edit entry : {{sound.id}}</a></p>
    <form action="/sounds/{{sound.id}}/process" method='POST'>
        {% csrf_token %}
        <div class="form-line">
            <label for="ftitle">title</label>
            <input type="text" name="ftitle" id="ftitle" value="{{sound.title}}" required>
        </div>
        <br>
        <div class="form-line">
            <label for="fcat">category&nbsp;</label>
            <select class='move' name="fcat" id="fcat">
                <option value={{sound.category_id}} selected>{{sound.category}}</option>
                {% for cat in categories %}
                {% if cat != sound.category %}
                    <option value="{{cat.id}}">
                        {{cat.title}}
                    </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <hr>
        <div class="form-buttons">
            <button class='btn btn-info' type="submit"><span>&nbsp;save&nbsp;</span></button>
        </div>
    </form>
</div>

<div class="partition">
    <p class="bold">edit category : {{sound.category.id}}</p>
    <form action="/sounds/{{sound.category.id}}/edit_cat" method='POST'>
        {% csrf_token %}
        <div class="form-line">
            <label for="ftitle">name&nbsp;&nbsp;</label>
            <input type="text" name="ftitle" id="ftitle" value="{{sound.category}}">
        </div>
        <label for="fslug"></label><br>
        <input type="hidden" name="sound_id" id="sound_id" value="{{sound.id}}">
        <button class='btn btn-info' type="submit"><span>&nbsp;save&nbsp;</span></button>
    </form>
        <form action="/add-cat" method='POST'>
        {% csrf_token %}
        <div class="form-line">
            <label for="fslug"></label><br>
            <input type="hidden" name="sound_id" id="sound_id" value="{{sound.id}}">
        </div>
        <div class="form-line">
            <label for="ftitle">add new</label>
            <input type="text" name="ftitle" id="ftitle">
        </div>
        
        <label for="fslug"></label>
        <br>
        <input type="hidden" name="fslug" id="fslug">
        <button class='btn btn-info' type="submit">+&nbsp;<span>add</span></button>
    </form>

    <br>
    <form action="/destroy" method="POST">
        {% csrf_token %}
        <div class="form-line">
            <label for="fcat">delete &nbsp;</label>
            <select name="fcat" id="fcat">
                <option value='' selected disabled>&nbsp;select</option>
                {% for cat in categories%}
                <option value="{{cat.id}}">
                    {{cat.title}} {{cat.id}}
                </option>
                {% endfor %}
            </select>
        </div>
        <br>
        <!-- passes sound id for further redirection -->
        <label for="fslug"></label>
        <input type="hidden" name="sound_id" id="sound_id" value="{{sound.id}}">
        <button class="btn btn-danger" type="submit">-&nbsp;<span class="text">del</span>&nbsp;</button>
    </form>
    <br>
    <br>
    <a class="btn btn-secondary" href="/home">cancel</a>
    

</div>


{% endblock%}