<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Reg</title>
    <style>
        .container{
            width:670px;
            display:flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Welcome, redirecting {{logged_user.first_name}} {{logged_user.last_name}}</h1>
    <a href="/logout">Log out</a>
    </div>

</div>
</body>
</html>